.departments {
  overflow: hidden;
}

.department h1 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-color);
  display: block;
}

.department .totalİnformation {
  width: 100%;
  padding: 10px 0px;
}

.department .totalİnformation p {
  color: black;
  font-size: 22px;
  padding: 10px 10px 10px 0;
}

.services {
  margin-top: 30px;
}

.treatedDiseases {
  margin-top: 80px;
}

.services h4,
.treatedDiseases h4 {
  font-size: 20px;
  color: var(--primary-color);
  margin-bottom: 30px;
}

.services .services-wrapper ol,
.treatedDiseases .treatedDiseases-wrapper ol {
  display: grid;
  padding: 0;
  grid-template-columns: 1fr;
  gap: 10px;
  list-style: none;
}

.services .services-wrapper ol li,
.treatedDiseases .treatedDiseases-wrapper ol li {
  --stop: calc(100% / var(--length) * var(--i));
  --l: 62%;
  --l2: 88%;
  --h: calc((var(--i) - 1) * (180 / var(--length)));
  --c1: hsl(var(--h), 71%, var(--l));
  --c2: hsl(var(--h), 71%, var(--l2));
  counter-increment: list;
  width: 100%;
  padding: 1rem 1rem 1rem;
  box-shadow: 0px 0px 6px 0px rgba(172, 143, 143, 0.4);
  -webkit-box-shadow: 0px 0px 6px 0px rgba(172, 143, 143, 0.4);
  -moz-box-shadow: 0px 0px 6px 0px rgba(172, 143, 143, 0.4);
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  cursor: pointer;
  padding: 10px 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.services .services-wrapper ol li h3,
.treatedDiseases .treatedDiseases-wrapper ol li h3 {
  display: flex;
  align-items: baseline;
  font-size: 20px;
  padding: 10px;
  color: rgb(70 70 70);
  /* position: relative; */
}

.services .services-wrapper ol li h3::before,
.treatedDiseases .treatedDiseases-wrapper ol li h3::before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 1rem;
  width: 3rem;
  height: 3rem;
  content: counter(list);
  padding: 20px;
  border-radius: 50%;
  background-color: var(--c1);
  color: white;
}

@media (min-width: 768px) {
  .services .services-wrapper ol,
  .treatedDiseases .treatedDiseases-wrapper ol {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}

@media (min-width: 1050px) {
  .services .services-wrapper ol,
  .treatedDiseases .treatedDiseases-wrapper ol {
    grid-template-columns: repeat(3, 1fr);
  }
}
