.doctor {
  padding: 20px 0px;
}

.doctor-container {
  display: grid;
  grid-template-columns: 1fr 1.6fr;
  gap: 20px;
  margin-top: 80px;
  margin-bottom: 20px;
}

.doctor-container .card,
.doctor-container .card .profile,
.doctor-container .card .profile img {
  width: 100%;
  height: 100%;
}

.doctor-container .card .profile img {
  width: 100%;
  min-height: 350px;
}

.doctor-container .card .title {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.doctor-container .card .title .social a {
  font-size: 26px;
}

.doctor-container .card .title .social a i {
  margin-right: 5px;
}

.doctor-container .info .info-about {
  padding: 0px 10px;
}

.doctor-container .info .info-about h3 {
  text-align: center;
}

.doctor-container .info .info-about p {
  line-height: 1.5;
  font-size: 18px;
  margin-top: 20px;
}

.doctor-container .info .experience {
  padding-left: 20px;
}

.doctor-container .info .experience .alt-list {
  list-style: none;
  margin-top: 10px;
}

.doctor-container .info .doctor-contact {
  padding-left: 20px;
}

.doctor-container .info .doctor-contact-info {
  padding-left: 10px;
}

.doctor-container .info .doctor-contact i {
  font-size: 20px;
  margin-right: 10px;
}

@media (max-width: 1000px) {
  .doctor-container {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .doctor-container .card .profile img {
    height: 250px;
  }

  .doctor-container .info .info-about h3 {
    display: none;
  }
}
